body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.mission {
    padding: 50px;
    text-align: center;
    background-color: black;
    color: white;
}

.container {
    padding: 0 50px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}



.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: red;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}


h2 {
    color: red;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: black;
    color: white;
}


ul {
    list-style: none;
    margin: 0px;
    padding: 20px;
    text-align: center;
    background-color: black;
    font-size: 18px;
    font-weight: lighter;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 20px;
    font-weight: lighter;
}

li a:hover {
    background-color: #333;
    padding: 15px;
}

/* text-align: center; */

.statementpt2 {
    text-align: center;
}

.statement {
    padding: 0;
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect */
.fa:hover {
    opacity: 0.7;
}

/* instagram */
.fa-instagram {
    color: darkgoldenrod;
    text-align: center;
}

/* Twitter */
.fa-twitter {
    color: darkgoldenrod;
}

/* facebook */
.fa-facebook {
    color: darkgoldenrod;
}